* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bfbdbd5e;
    font-family: "Roboto", sans-serif;
}


.main-chat-container {
    width: 83%;
    height: 91%;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1200px) {
        width: 95%;
    }
}

.user-container {
    gap: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
}

.user-container>.see-profile-container {
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;


    .close-icon {
        position: absolute;
        cursor: pointer;
        right: 0px;
        top: 30px;
        z-index: 999;
        color: #ffffff;
    }

    ;
    background-image: linear-gradient(180deg, hsl(189deg 100% 20%) 0%, hsl(164deg 100% 43%) 20%, hsl(140deg 100% 87%) 40%, hsl(300deg 100% 100%) 60%, hsl(300deg 100% 100%) 80%, hsl(0deg 0% 100%) 100%);
}

.user-container>.see-profile-container>.profile-row-info {
    gap: 10px;
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

    .profile-row-img-container {
        position: relative;
        cursor: pointer;

        img {
            width: 234px;
            height: 237px;
            margin-top: 43px;
            object-fit: cover;
            border-radius: 1000px;
            border: solid 2px #fff;

            @media screen and (max-width: 1200px) {
                width: 134px;
                height: 137px;
            }
        }
    }

    .profile-row-info-personal {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;


        div:nth-child(1) {
            display: flex;
            text-align: center;
            width: 100%;
            font-weight: 500;
            font-size: 2rem;
            color: rgb(61 61 61);
            justify-content: center;
            align-items: center;
        }

        div:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            margin-bottom: 4px;
            font-weight: 400;
            font-size: 1.3rem;
            color: rgb(34, 34, 34);
        }

        div:nth-child(3) {
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
            font-weight: 300;
            font-size: .9rem;
            color: rgb(51 51 51);
        }
    }
}

.user-container #userDetails {
    gap: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 1.3rem;
    padding: 10px 0;
    position: relative;
    align-items: center;
    border-bottom: solid 1px #00000014;
}

.user-container #userDetails img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 100px;
}

.user-container ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.user-list-container #userList {
    width: 100%;
    cursor: pointer;
}

.user-list-container>.user-list-header {
    display: flex;
    padding: 10px;
    align-items: center;
}

.user-list-container #userList li {
    gap: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    position: relative;
}

.user-list-container #userList li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 100px;
}

.user-list-container #userList li::before {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: .8px;
    position: absolute;
    background-color: #cccccc41;
}


#userList li.selected-user {
    background-color: #f0f2f5;
}

#userList li {
    font-weight: 300;
}


.chat-container {
    width: 70%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #f9f9f9;
}


.chat-container>.chat-header {
    gap: 10px;
    width: 100%;
    height: 10%;
    display: flex;
    padding: 10px;
    align-items: center;
    /* margin-bottom: 30px; */
    color: #252525;
    font-size: 1.2rem;
    box-sizing: border-box;
    background-color: #f0f2f5;
}

.chat-container>.chat-header>img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}

#messages {
    height: 84%;
    /* padding-bottom: 90px; */
    box-sizing: border-box;
    overflow-y: auto;
    background: #e9e9e9a3;
    transition: .5s ease-in-out;
    scroll-behavior: smooth;
}

#messages::-webkit-scrollbar {
    width: 5px;
}

#messages::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#messages::-webkit-scrollbar-thumb {
    background: #0c0c0c34;
    border-radius: 6px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background: #555555;
}


#messages li {
    margin: 5px 10px;
    padding: 5px;
    width: 400px;
    list-style: none;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.041);
}

#messages li .username {
    padding: 5px;
    color: #373737;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: solid 1px #00000014;
}

#messages li .message {
    color: #000000;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
}

#messages li.self .time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: .8rem;
    color: #00000057;
}

#messages li.other .time {
    position: absolute;
    bottom: 5px;
    left: 10px;
    font-size: .8rem;
    color: #00000057;
}

#messages li.self {
    color: #ffffff;
    background-color: #b1ffc5;
    margin-right: auto;
    text-align: left;
    border: solid 1px #0000000f;
}

#messages li.other {
    background-color: #fff;
    margin-left: auto;
    text-align: right;
    border: solid 1px #0000000f;

}

#messageForm {
    height: 9%;
    width: 100%;
    display: flex;
    background: #dbdada;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;


    .file-input-container {
        width: 4%;
        height: 61%;
        border-radius: 5px;
        display: flex;
        cursor: pointer;
        overflow: hidden;
        background: #f0f2f5;
        position: relative;
        align-items: center;
        justify-content: center;

        span {
            pointer-events: none;
            color: rgb(53, 53, 53);
        }

        input {
            cursor: pointer;
            opacity: 0;
            width: 500px;
            height: 100%;
            left: -113px;
            position: absolute;

        }

        
    @media screen and (max-width: 1200px) {
        width: 7%;
    }
    }

}


#messageForm>input {
    width: 88%;
    height: 61%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: rgb(240 242 245);

    @media screen and (max-width: 1200px) {
        width: 80%;
    }
}

#messageForm>button {
    width: 4%;
    border: none;
    cursor: pointer;
    display: flex;
    color: #fff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #00c7a9;
    height: 61%;

    @media screen and (max-width: 1200px) {
        width: 7%;
    }
}

#messageForm>button:hover {
    color: #5f5f5f;
}

#messageForm>button:active {
    color: #5f5f5f;
    background-color: #028672;
}

.status {
    top: 49px;
    left: 56px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 100px;
    border: solid 2px #fff;
}

.online {
    background-color: #00ff7e;
}

.offline {
    background-color: #dfdede;
}