<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="main-chat-container">
        <div class="user-container" id="user-container">
            <div id="userDetails"></div>
            <div class="user-list-container">
                <div class="user-list-header">
                    <h3 style="font-size: 1.2rem; color: #1b1b1b; font-weight: 400;">chats</h3>
                </div>
                <ul id="userList"></ul>
            </div>
        </div>
        <div class="chat-container">
            <div class="chat-header" id="chatHeader"></div>
            <ul id="messages"></ul>
            <form id="messageForm" action="">
                <input id="input" type="text" placeholder="Digitar mensagem..." />
                <div class="file-input-container">
                    <span class="material-symbols-outlined">
                        attach_file
                    </span>
                    <input id="inputFile" type="file" />
                </div>
                <button>
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>

</body>


</html>